@import '/styles/colors.scss', '/styles/mixins.scss';

.project__page {
  margin-top: 10rem;

  @include mobile {
    margin-top: 1rem;
  }

  .project__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    @include mobile {
      flex-direction: column;
      align-items: center;
    }

    .project__main {
      width: 50vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      text-align: start;
      margin-top: 0;

      @include mobile {
        width: 80vw;
        align-items: center;
      }

      .project__image {
        width: 80%;
        border-radius: 5px;

        @include tablet {
          width: 90%;
        }

        @include mobile {
          width: 100%;
        }
      }

      .project__title {
        margin-top: 2rem;
        flex-direction: row;

        @include mobile {
          font-size: 1.2rem;
        }

        @include tablet {
          font-size: 1.4rem;
        }
      }

      .project__text {
      }
    }
    .project__sidebar {
      width: 25vw;
      text-align: start;
      height: 100%;
      border-radius: 5px;
      padding: 1.5rem;
      background-color: $projectsColor;

      @include mobile {
        width: 75vw;
      }

      h3 {
        margin-top: 0;

        @include mobile {
          font-size: 1rem;
        }

        @include tablet {
          font-size: 1.1rem;
        }
      }

      .project__date_container {
        margin-bottom: 1rem;
        font-size: 1.2rem;
        font-weight: bold;

        @include mobile {
          font-size: 1rem;
        }

        @include tablet {
          font-size: 1rem;
        }

        svg {
          padding-right: 0.5rem;
        }
      }
    }
  }
}
